:root {
  --light-grey: #faf3e6;
  --almost-black: #010a0b;
  --light-navy-blue: #003f69;
  --faded-orange: #fb9a4b;
  --orangey-red: #df2006;
  --medium-grey: #86847f;
  --font-color: #2e383b;
  --inner-square-size: 15px;
}

body {
  background-color: var(--medium-grey);
  overflow-x: hidden;
}

.almost-black {
  background-color: var(--almost-black);
}

.light-navy-blue {
  background-color: var(--light-navy-blue);
}

.faded-orange {
  background-color: var(--faded-orange);
}

.orangey-red {
  background-color: var(--orangey-red);
}

.outer-square {
  height: 700px;
  width: 700px;
  transform: rotate(45deg) translate(0%, -2%);
  background-color: var(--light-grey);
}

.pattern__container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.pattern__square {
  height: var(--inner-square-size);
  width: var(--inner-square-size);
}

#row-1,
#row-3 {
  position: absolute;
  bottom: 21%;
}

#row-1 .pattern__container,
#row-3 .pattern__container {
  height: 200px;
}

#row-1 {
  left: 50%;
}

#row-2 {
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  bottom: 8%;
  left: 65%;
}

#row-2 .pattern__container:nth-child(1) {
  height: 175px;
}

#row-2 .pattern__container:nth-child(2) {
  height: 275px;
  margin-bottom: 145px;
}

#row-3 {
  right: 25%;
}
